<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <description>Simple Shopping Cart</description>
 <display-name>Shopping Cart</display-name>
 <servlet>
  <servlet-name>CartController</servlet-name>
  <servlet-class>comm.example.controller.CartController</servlet-class>
 </servlet>
 <!-- Define the Manager Servlet Mapping -->
 <servlet-mapping>
  <servlet-name>CartController</servlet-name>
  <url-pattern>/servlet/*</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>/ShoppingCart.jsp</welcome-file>
 </welcome-file-list>
</web-app>
